<div class="event-container">
    <span class="event-date-container">
        <span class="date">{{date}}</span>
        <span class="month">{{month}}</span>
    </span>
    <span class="event-detail-container">
        <span class="event-title">{{title}}</span>
        <span class="description">{{description}}</span>
    </span>
</div>
<div class="spacer"></div>