<div class="sort-container">
    <h1 id="sort-button" class="sort-container-btn">
        Sort By Date 
        <span id="sort-icon" class="fas fa-angle-down"></span> 
    </h1>
    <h1 id="create-button" class="sort-container-btn">
        Host Event
    </h1>
    
</div>