{{!-- TODO Change footer to relevant stuff --}}
<footer id="footer">
    <ul class="footer-list">
        <li class="footer-list-container">
            <dl>
                <dt class="footer-list-title">
                    Solutions
                </dt>
                <dd class="footer-list-item">
                    <a href="#">Why Us?</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Features</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Services</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Customer Stories</a>
                </dd>
            </dl>
        </li>
        <li class="footer-list-container">
            <dl>
                <dt class="footer-list-title">
                    Resources
                </dt>
                <dd class="footer-list-item">
                    <a href="#">Documentation</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">API</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Help Center</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">App Directory</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Download</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Tips & Tricks</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Members Program</a>
                </dd>
            </dl>
        </li>

        <li class="footer-list-container">
            <dl>
                <dt class="footer-list-title">
                    Pricing
                </dt>
                <dd class="footer-list-item">
                    <a href="#">Free Trial</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">For Teams</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Enterprise</a>
                </dd>
            </dl>
        </li>

        <li class="footer-list-container">
            <dl class="footer-list-container">
                <dt class="footer-list-title">
                    About
                </dt>
                <dd class="footer-list-item">
                    <a href="#">Our Story</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Blog</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Careers</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">News Room</a>
                </dd>
                <dd class="footer-list-item">
                    <a href="#">Legal</a>
                </dd>
                <dd>
                    <p class="footer-copyright align-center">
                        Copyright &copy; 2022 Pooler Inc.
                    </p>
                </dd>
            </dl>
        </li>
    </ul>



</footer>