#client-error {
    border: 1px solid rgb(249, 128, 128);
    border-radius: 10px;
    background-color: rgb(243, 185, 185);
    width: 50%;
    margin: 15px auto 0px auto;
    text-align: center;
    font-weight: 400;
}

#close-error {
    margin: 0;
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
    cursor: pointer;
}

.modal-error {
    width: 100% !important;
    margin: 15px auto 15px auto !important;
    border: 1px solid rgb(249, 128, 128);
    border-radius: 10px;
    background-color: rgb(243, 185, 185);
    width: 50%;
    margin: 15px auto 0px auto;
    text-align: center;
    font-weight: 400;
}