/* Inspiration source: https://codepen.io/nandanholla/pen/xxXzmgd */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

:root {
    --primary: #fefeff;
    --secondary: #181b1b;
    --light: #181b1bb3;
    --button: #c5e0e2;
    --montserrat: "Montserrat", sans-serif;
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    font-family: var(--montserrat);
    font-weight: 400;
    line-height: 1.75;
    color: var(--secondary);
}

:target {
    display: block;
    position: relative;
    top: -15vh;
    visibility: hidden;
}

#hero,
.section {
    min-height: 85vh;
}

.align-center {
    text-align: center;
}

p {
    margin-bottom: 1rem;
}

h1,
h2 {
    margin: 3rem 0 1.38rem;
    font-family: var(--montserrat);
    font-weight: 700;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
    font-weight: 400;
}


.text-small {
    font-size: 0.8rem;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#header-img,
#logo {
    width: 15rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul {
    list-style: none;
}

li,
a {
    color: var(--secondary) !important;
    text-decoration: none;
}

#nav-bar {
    background: var(--primary);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

ul.nav-list,
.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    padding: 0 1em;
}

.nav-elements a {
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
}

.nav-elements a:hover::after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: -6px;
    right: -6px;
    border-radius: 5px;
    z-index: -1;
    height: 0.5em;
    background-color: var(--button);
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15vh;
}

#hero,
.section-container {
    display: grid;
    margin: 40px;
    grid-gap: 5rem 1rem;
}

#hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas: "text img";
}

.hero-text {
    grid-area: text;
}

.hero-image {
    grid-area: img;
}

#about {
    padding: 7.5px 0;
}

#events {
    padding-top: 55px;
}

/* Search bar styling source: https://codepen.io/ramesh123-lang/pen/ZEQMbmb */
.search-box {
    width: 50%;
    height: 35px;
    position: relative;
    display: flex;
    margin: 25px auto 0 auto;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: none;
    font-size: 16px;
    color: var(--secondary);
    background: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
}

.search-button {
    text-align: center;
    height: 35px;
    width: 45px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 1px solid var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
}

.sort-container {
    display: flex;
    animation-duration: 1.5s;
    animation-name: slidein;
    width: 100%;
}

.sort-container-btn:first-of-type {
    margin-right: auto;
}

.sort-container-btn:last-of-type {
    margin-left: 80%;
}


#sort-button {
    text-align: center;
    height: 25px;
    width: 20px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#create-button {
    text-align: left;
    height: 25px;
    width: 20px;
    cursor: pointer;
    font-size: 1rem;
}

#create-button:hover {
    color: rgba(50, 180, 207, 0.737);
}

.modal-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.267);
    transition: all 0.3s ease-in-out;
    min-height: 100%;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-content {
    position: relative;
    max-width: 500px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
}

.modal-footer {
    text-align: right;
}

.modal-close {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 7.5px;
    text-decoration: none;
    cursor: pointer;
}



.event-calendar {
    margin-top: 15px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.spacer {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.event-list {
    display: block;
    border-right: 1px solid rgb(229, 229, 229);
    animation-duration: 1.5s;
    animation-name: slidein;
}

.event {
    text-decoration: none;
}



.event-container,
.pool-container {
    color: var(--secondary);
    transition: all 0.2s ease;
    border-left: 3px solid;
    padding-top: 10px;
    padding-bottom: 15px;
}

.pool-container {
    margin-top: 5px;
}

.event-container:hover,
.pool-container:hover {
    border-left-width: 10px;
    background: #eceff1;
    cursor: pointer;
}

.event-date-container,
.pool-time-container {
    display: inline-block;
    width: 5em;
    padding: inherit 8px 2px 16px;
    margin: 0 10px 0 10px;
    font-family: Oswald;
    font-weight: 700;
    color: #343434;
}

.event-date-container>.date,
.pool-time-container>.date {
    font-size: 2.5em;
    display: block;
}

.pool-time-container>.date {
    font-size: 1em;
}

.event-date-container>.month,
.pool-time-container>.time {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0em;
    text-transform: uppercase;
}

.event-detail-container,
.pool-detail-container {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
}

.event-detail-container>.event-title,
.pool-detail-container >.driver{
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 1.5em;
}

.pool-detail-container >.driver {
    font-size: .95em;
}

.event-detail-container>.description,
.pool-detail-container >.capacity{
    display: block;
    font-family: var(--montserrat);
    font-size: 0.9em;
}

.pool-detail-container >.capacity {
    font-size: .75em;
}

.section .section-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 1fr);
    grid-template-areas:
        "img-1 text-1"
        "text-2 img-2"
        "img-3 text-3";
}

.text-container:nth-child(2) {
    grid-area: text-1;
}

.section-container .image-container:nth-child(2) {
    grid-area: img-1;
}

.text-container:nth-child(3) {
    grid-area: text-2;
}

.section-container .image-container:nth-child(3) {
    grid-area: img-2;
}

.text-container:nth-child(4) {
    grid-area: text-3;
}

.section-container .image-container:nth-child(4) {
    grid-area: img-3;
}


.section-container {
    margin: 4rem auto;
}

.section-container:first-child {
    margin-top: 0;
}

.hero-text,
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.hero-text h1 {
    text-transform: uppercase;
}

.hero-text p,
.description {
    line-height: 2;
    color: var(--light);
}

.btn{
    padding: 1.5rem 1rem;
    background-color: var(--button);
    color: var(--secondary);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    border: none;
    transition: letter-spacing 0.4s ease-out;
    width: 50%;
    min-width: 200px;
}

.btn:hover{
    box-shadow: none;
    letter-spacing: 0.4em;
}

.hero-btn {
    width: 100%;
    max-width: 250px;
}


.section-title {
    display: flex;
    justify-content: center;
}

.title,
.heading {
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1em;
    z-index: 2;
    margin: 0;
}

.title::after {
    position: absolute;
    content: '';
    bottom: 5px;
    left: -5px;
    right: -5px;
    height: 0.3em;
    background-color: var(--button);
    border-radius: 5px;
    z-index: -2;
}

.title-description {
    margin-top: 1.5rem;
}

.text-container {
    padding: 0 3rem;
}

.heading {
    font-size: 2rem;
}

.submit-btn {
    max-height: 30px;
    padding: 6px 14px;
    margin: 0 auto;
    font-family: var(--montserrat);
    border-radius: 6px;
    color: var(--secondary);
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}



footer {
    margin-top: 2rem;
}

.footer-container {
    background-color: var(--button);
    color: var(--secondary);
    padding: 2.5rem 0 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0;
}

#form input,
.footer-btn {
    width: 50%;
    padding: 1.2rem;
    padding-left: 40px;
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.footer-text {
    font-size: 2rem;
    margin: 0.5rem 0;
    text-transform: capitalize;
}

.footer-description {
    font-size: 1.1rem;
    margin: 0.5rem;
}

#form input::placeholder {
    color: rgba(24, 27, 27, 0.5);
}

.footer-btn {
    background-color: var(--secondary);
    color: var(--primary);
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 2rem;
}

.footer-list-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0.5rem 0;
}

.footer-list-item:hover {
    font-weight: 500;
}

.footer-copyright {
    display: none;
}

.menu-wrap .toggler {
    display: none;
}




@media screen and (max-width : 980px) {
    .menu-wrap .toggler {
        display: block;
    }

    ul.nav-list {
        display: revert;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10000;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10001;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10000;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-wrap .hamburger>div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: var(--secondary);
        transition: all 0.4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
    }

    .menu-wrap .hamburger>div:before,
    .menu-wrap .hamburger>div:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: inherit;
        transition: all 0.4s ease;
        top: 8px;
        z-index: 10000;
    }

    .menu-wrap .hamburger>div::after {
        top: -8px;
    }

    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }



    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }

    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu>div {
        background: var(--primary);
        width: 200vw;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
        transform: scale(0);
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 1rem;
    }

    .menu-wrap .menu>div>div>ul>li>a {
        color: var(--secondary);
        text-decoration: none;
    }


    .hero-text h1 {
        font-size: 2.3rem;
    }

    .section-title .title {
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    .hero-btn {
        max-width: 60vw;
        margin: 0 auto;
    }

    .btn-2 {
        width: 100%;
    }



    .hero-text,
    .text-container {
        align-items: center;
        text-align: center;
    }


    #hero {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas:
            "img"
            "text";
    }

    .section .section-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img-1"
            "text-1"
            "img-2"
            "text-2"
            "img-3"
            "text-3";
        grid-gap: 0.2rem;
    }

    .footer-btn,
    #form input {
        width: 80%;
    }

    .footer-list {
        display: none;
    }

    .footer-copyright {
        display: block;
        font-weight: 500;
        font-size: 1.2rem;
        border-top: rgba(24, 27, 27, 0.2) solid 1px;
        padding-top: 0.5rem;
    }

}



/* Profile Page */

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 2px 0;
}

.bottom-button-container {
    display: flex;
    margin: -50px auto 0px auto;
    width: 60%;
    justify-content: space-between;
    /* padding: 10px; */
}

#cancelBtn, .host-container-btn{
    max-height: 30px;
    padding: 6px 14px;
    margin: 0 auto;
    font-family: var(--montserrat);
    border-radius: 6px;
    color: var(--secondary);
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.host-container-btn {
    width: 500px !important;
    text-align: center !important;
    margin: 25px auto !important;
    font-weight: 500;
    vertical-align: middle;
}

#cancelBtn:hover, .host-container-btn:hover{
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1.5px var(--button);
    outline: 0;
}

#cancelBtn:disabled {
    background-color: rgb(184, 184, 178);
    cursor: not-allowed;
}

#saveChangesBtn {
    max-height: 30px;
    padding: 6px 14px;
    margin: 0 auto;
    font-family: var(--montserrat);
    border-radius: 6px;
    color: var(--secondary);
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;

}

#saveChangesBtn:hover {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1.5px var(--button);
    outline: 0;
}

#saveChangesBtn:disabled {
    background-color: rgb(184, 184, 178);
    cursor: not-allowed;

}

#editBtn {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 6px 14px;
    margin: 0 auto;
    font-family: var(--montserrat);
    border-radius: 6px;
    color: var(--secondary);
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 3px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

#editBtn:hover {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1.5px var(--button);
    outline: 0;
}

#editBtn:disabled {
    background-color: rgb(184, 184, 178);
    cursor: not-allowed;
}

.profile-heading {
    padding: 1.2rem 0;
}

.profile-container {}

.account-heading,
.personal-heading {
    font-size: 1.4rem !important;
}

.profile-container>.account-info {
    margin: 0 auto;
    min-height: 250px;
}

.profile-container>.personal-info {
    margin: 0 auto;
    min-height: 250px;
}

.profile-form-item {
    position: relative;
    margin-bottom: 15px;
}

.profile-form-item input {
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px var(--secondary);
    border-radius: 5px;
    transition: all .3s ease;
    padding: 0 25px
}

.profile-form-item input:focus+label,
.form-item input:valid+label {
    font-size: 12px;
    top: -10px
}

.profile-form-item input:focus+label {
    color: var(--secondary)
}

.profile-form-item textarea {
    display: block;
    width: 400px;
    height: 80px;
    border: solid 1px var(--secondary);
    border-radius: 5px;
    transition: all .3s ease;
    padding: 7.5px 15px;
    resize: none;
}

.private-event-checkbox {
    height: 20px;
}

.profile-form-item #host-event-private {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.host-event-4 {
    width: 400px !important;
    height: 40px !important;
}

.event-col-3 {
    display: inline-block;
    width: 270px !important;
}

.col-3-label {
    position: relative;
    left: 200px !important;
    width: 45px;
}

.event-col-2 {
    width: 200px !important;
}

.event-col-1 {
    display: inline-block;
    position: relative;
    top: -40px;
    left: 280px;
    width: 120px !important;
}

.col-1-label {
    position: relative;
    left: 325px !important;
    width: 70px;
}




.profile-form-item #host-event-private+label {
    position: relative;
    top: -22px;
    left: 275px;
    margin: auto;
}

.profile-form-item #host-event-private:focus+label {
    top: -22px;
    left: 275px;
}


.profile-form-item textarea:focus+label {
    top: -10px;
    height: 15px;
}

.profile-form-item input:focus {
    border-color: var(--button);
}

.profile-form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    background: var(--primary);
    padding: 0 10px;
    color: var(--secondary);
    transition: all .3s ease
}



.address-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}

.host-event-address-container {
    margin: 10px auto;
}


.city-input-container {
    max-width: 40%;
}

.address-input {
    height: 40px;
    background: transparent;
    border: solid 1px var(--secondary);
    border-radius: 5px;
    transition: all .3s ease;
    padding: 0 25px
}

.address-label {
    position: relative;
    cursor: text;
    z-index: 2;
    top: -35px;
    font-size: 12px;
    font-weight: bold;
    background: var(--primary);
    padding: 0 5px;
    color: var(--secondary);
    transition: all .3s ease
}

.address-input:focus+label {
    font-size: 12px;
    top: -55px
}

.city-input {
    width: 200px;
}

.city-label {
    left: 150px;
}

#host-event-city:focus+label {
    top: -20px;
}

.host-city-label {
    top: 0px;
    left: -50px;
}

.zip-input-container {
    max-width: 30%;
    margin-left: 50px;
}

.zip-input {
    width: 100px;
    padding: 0 10px;
}

.zip-label {
    left: 65px;
    padding: 0 5px;
}

#host-event-zip:focus+label {
    top: -20px;
}

.host-zip-label {
    top: 0px;
    left: -50px;
}

.state-input-container {
    max-width: 20%;
}

.state-select {
    width: 70px;
    color: var(--secondary);
    padding: 0 5px;
    font-weight: 600;
}

.checkbox-container {
    display: flex;
    width: 400px;
    height: 40px;
    justify-content: end;
}

.driver-label {
    position: relative;
    top: -7.5px;
    left: 5px;
}

/* Event Page */

.event-heading {
    font-size: 3rem;
    margin: .5rem auto 0 auto;
    z-index: 0;
}

.event-details-container {
    text-align: left;
    justify-content: start;
}

.event-details-heading, .carpool-details-heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    margin: 5px 0;
}

.event-details, .carpool-details{
    margin-top: -5px;
}

.event-detail-label {
    font-weight: 600;
}

.event-detail-info {
    margin: -5px auto 2.5px auto;

}

.event-carpool-container {
    justify-content: start;
}

.dt-inline {
    display: inline-block;
    min-width: 100px;
}

.dd-inline {
    display: inline;
    margin: 0;
}

.dd-inline:after {
    display: block;
    content: '';
}




@media screen and (max-width : 1000px) {
    .city-label {
        left: 100px;
    }

    .zip-label {
        left: 30px;
    }

    .bottom-button-container {
        margin-top: 0px;
    }
}



@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}