/* Login Page */
/* Source: https://mdbootstrap.com/docs/standard/extended/login/#section-5 */
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

/* Registration Page */
/* Source: https://mdbootstrap.com/docs/standard/extended/registration/#section-6 */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-teal {
    background-color: #77cbef;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-teal {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-teal {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}