/*=============General Styling============= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --primary: #fefeff;
    --secondary: #181b1b;
    --light: #181b1bb3;
    --button: #c5e0e2;
    --montserrat: "Montserrat", sans-serif;
    --menu-speed: 0.75s;
}


/* Scroll bar */
*,
html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
    scrollbar-width: thin !important;
    --white: #fff;
    --black: #131417;
    --gray: rgba(255, 255, 255, 0.7);
    --lite: rgba(1, 1, 1, 0.6);
    --default: 'Josefin Sans', sans-serif;
    --title: 'Cormorant Garamond', serif;
    --cursive: 'Dancing Script', cursive;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: var(--paleblue);
}

body {
    background: var(--primary);
    font-family: var(--montserrat) !important;
    font-weight: 400;
    line-height: 1.75;
    color: var(--secondary);
}


/*=============Login Page=============*/
/* Source: https://mdbootstrap.com/docs/standard/extended/login/#section-5 */
.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.pooler-logo {
    width: 15rem;
    position: absolute;
    left: 40px;
}

.login-container {
    height: 100vh;
}

.login-btn {
    background-color: #0081a2;
}

.auth-link {
    color: #0081a2 !important;
}

@media (max-width: 1200px) {
    .login-container {
        height: 85vh;
    }
}

/*=============Registration Page============= */
/* Source: https://mdbootstrap.com/docs/standard/extended/registration/#section-6 */
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-teal {
    background-color: #2397a2;
}

.register-btn {
    background-color: #00829b;
    color: #ffffff;
}

.register-heading {
    font-size: 1.8rem;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-teal {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-teal {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

/*=============Pool Page============= */
.leavePool {
    background-color: #ff000042;
    transform: translate(50%, 0);
}

.joinPool {
    background-color: #00ff0042;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}