 <div class="container">
    <div id="events" class="section-container">
        <section class="section">
            <div class="section-title">
                <h1 class="title event-heading">
                    Events
                </h1>
            </div>
            <div class="search-box">
                <label for="search-term"></label>
                <input id="search-term" type="text" class="search-input" placeholder="Search for an Event...">

                <label for="search-button"></label>
                <button id="search-button" class="search-button">
                    <span class="fas fa-search"></span>
                </button>
            </div>
            <div class="event-calendar">
                {{> eventsorts}}
                <div id="eventList" class="event-list">

                </div>
                <div id="password-modal" class="modal-box">
                    <div class="modal-content">
                        <h1 class="modal-title">Private Event</h1>
                        <form id="private-event-form" action="/" method="POST" autocomplete="off">
                            <div id="client-error" class="modal-error" hidden>

                            </div>
                            <div class="profile-form-item">
                                <input id="private-event-password" name="password" type="password" required />
                                <label for="private-event-password">Password</label>
                            </div>
                            <div class="modal-footer">
                                <button id="private-event-submit" class="submit-btn" type="submit"
                                    value="submit">Submit</button>
                            </div>
                        </form>
                        <span id="modal-close-btn" class="modal-close">&times;</span>
                    </div>
                </div>

                <div id="host-modal" class="modal-box">
                    <div class="modal-content">
                        <h1 class="modal-title">Host an Event</h1>
                        <form id="host-event-form" method="POST" autocomplete="off">
                            <div id="host-event-error" class="modal-error" hidden>

                            </div>
                            
                            <div class="profile-form-item">
                                <input id="host-event-name" name="name" type="text" required />
                                <label for="host-event-name">Event Name</label>
                            </div>
                            <div class="profile-form-item host-event-4">
                                <input id="host-event-time" class="event-col-3" name="time" type="datetime-local"
                                    required />
                                <label class="col-3-label" for="host-event-time">Time</label>
                                <input id="host-event-capacity" class="event-col-1" name="capacity" type="number"
                                    min="1" required />
                                <label class="col-1-label" for="host-event-capacity">Capacity</label>
                            </div>
                            <div class="profile-form-item">
                                <textarea id="host-event-description" name="description" required></textarea>
                                <label for="host-event-description">Description</label>
                            </div>

                            <div class="profile-form-item">
                                <input id="host-event-street" name="street" type="text" required />
                                <label for="host-event-street">Street Address</label>
                            </div>

                            <div class="address-form-container host-event-address-container">
                                <div class="city-input-container">
                                    <input class="address-input city-input" id="host-event-city" name="city" type="text"
                                        required />
                                    <label class="address-label city-label host-city-label" for="host-event-city">City</label>
                                </div>
                                <div class="zip-input-container">
                                    <input class="address-input zip-input" id="host-event-zip" name="zipcode"
                                        type="number" required />
                                    <label class="address-label zip-label host-zip-label" for="host-event-zip">Zip</label>
                                </div>
                                <div class="state-input-container">
                                    <select class="address-input state-select" id="host-event-state" name="state"
                                        aria-label="state" required>
                                        <option class="state-option" label="State"></option>
                                        {{#each states}}
                                        <option class="state-option" value={{this}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>

                            <div class="profile-form-item private-event-checkbox">
                                <input id="host-event-private" name="private" type="checkbox" value="private" />
                                <label for="host-event-private">Private Event</label>
                            </div>



                            <div id="host-footer" class="modal-footer">
                                <button id="host-event-submit" class="submit-btn" type="submit"
                                    value="submit">Create</button>
                            </div>
                        </form>
                        <span id="event-close-btn" class="modal-close">&times;</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/public/js/eventList.js"></script>
</div>