<div class="container">
    <div id="history" class="section-container">
        <section class="section">
            <div class="section-title">
                <h1 class="title history-heading">
                    History
                </h1>
            </div>
            
            <div class="history-button-sort-section">
                <p class="history-sort-button" id="pastButton">Past</p>
                <p class="history-sort-button" id="upcomingButton">Upcoming</p>
                <p class="history-sort-button" id="allButton">All</p>
            </div>

            <div class="history-calendar">
                {{> historysorts}}
                <div id="historyList" class="history-list">

                </div>
            </div>
        </section>
    </div>

    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/public/js/historyList.js"></script>
</div>