{{!-- referenced https://codepen.io/Shokeen/pen/XXggZr --}}
<section>
    <div class="container-fluid">
        <h1>Profile</h1>
        <button id="editBtn">
            Edit Profile
        </button>
        <div class"profile-info">

        </div>
    </div>
</section>