{{!-- referenced https://codepen.io/Shokeen/pen/XXggZr --}}
<section>
    <div class="container-fluid">
        <h1>Profile</h1>
        <button id="editBtn">
            Edit Profile
        </button>
        <div class"profile-info">
            {{!-- need to populate with actual text --}}
            <div class="form-outline">
                <input id="email" name="email" type="email" required />
                <label for="email" class="form-label">Email</label>
            </div>
            <div class="form-outline">
                <input id="firstname" name="firstname" type="text" required />
                <label for="firstname" class="form-label">First Name</label>
            </div>
            <div class="form-outline">
                <input id="lastname" name="lastname" type="text" required />
                <label for="lastname" class="form-label">Last Name</label>
            </div>
            <div class="form-outline">
                <input id="phone" name="phone" type="tel" required />
                <label for="phone" class="form-label">Phone Number</label>
            </div>
            <h2>Personal Information</h2>
            <div class="form-outline">
                <input id="venmo" name="venmo" type="text" required />
                <label for="venmo" class="form-label">Venmo</label>
            </div>
            <div class="form-outline">
                <input id="streetAddress" name="streetAddress" type="text" required />
                <label for="streetAddress" class="form-label">Street Address</label>
            </div>
            <div class="form-outline">
                <input id="city" name="city" type="text" required />
                <label for="city" class="form-label">City</label>
            </div>
            <div class="form-outline">
                <input id="zipcode" name="zipcode" type="number" required />
                <label for="zipcode" class="form-label">Zipcode</label>
            </div>
            <div class="form-check">
                <input id="isDriver" name="isDriver" type="checkbox" required />
                <label for="isDriver" class="form-label">I am a driver.</label>
            </div>
        </div>
        <button id="saveChangesBtn">
            Save Changes
        </button>
    </div>
</section>